<style>
    @import url('/css/views/account.css');
</style>

{{> header title="Account"}}

<div class="main-container">
    {{> channel-list }}
    <div id="main">
        <section>
            <h1>Account</h1>
            <div style="margin-bottom: 16px;">
                <label for="account-nickname-input">Nickname:</label>
                <input type="string" id="account-nickname-input" value="{{user.nickname}}">
                <p style="font-size: 0.8em; color: var(--text-dark)">A bejelentkezéshez használt név mindig "{{user.username}}"</p>
            </div>
            <div style="margin-bottom: 16px;">
                <label for="account-theme-input">Theme:</label>
                <br>
                <select id="account-theme-input" value="{{user.theme}}">
                    <option value="1" {{#eq user.theme 1}}selected{{/eq}}>Default White</option>
                    <option value="2" {{#eq user.theme 2}}selected{{/eq}}>Dark Google</option>
                    <option value="3" {{#eq user.theme 3}}selected{{/eq}}>Rosé Pine</option>
                </select>
            </div>
            <div style="margin-bottom: 16px;">
                <label for="account-password-input">Password:</label>
                <div style="display: inline-block;">
                    <input type="password" name="password" id="account-password-input" placeholder="Password">
                    <input type="password" id="account-password-input-again" placeholder="Password again">
                    <meter min="0" max="100" low="40" high="80" optimum="100" id="password-strength" style="width: 180px; margin: 2px 0px;"></meter>
                </div>
            </div>
            <div style="margin-bottom: 16px;">
                <span>Avatar:</span>
                <label for="account-avatar-input" class="file-input-label">Upload Avatar</label>
                <input type="file" id="account-avatar-input" style="display: none;">
                <button id="delete-avatar-button">Remove Avatar</button>
                <div>
                    {{> useravatar id=user.id }}
                </div>
            </div>
            <div style="margin-bottom: 16px; color: var(--error);" id="error-text">
            </div>
            <button id="update-nickname-button">Save</button>
        </section>
        <!--
        <section>
            <h1>Authentication</h1>
            <div id="loggedin-container">

            </div>
            <a class="button" href="/logout">Logout</a>
        </section>
        -->
        <section style="border: none;">
            <h1><a class="button" href="/logout">Logout</a></h1>
        </section>
    </div>
    <div class="right-side-bar" id="right-side-bar">

    </div>
</div>

<script src="/handlebars.min.js"></script>
<script>
    (function () {
        var revive = Handlebars.template,
            templates = Handlebars.templates = Handlebars.templates || {}

        {{#templates}}
        templates['{{{name}}}'] = revive({{{template}}});
        {{/templates}}
    }());
</script>
<script src="/js/hbs.js"></script>
<script src="/js/hbs-helpers.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/websocket-client.js"></script>
<script src="/js/script.js"></script>
<script src="/js/channels.js"></script>
<script src="/js/bundles.js"></script>
<script src="/js/account.js"></script>
<script src="/js/password.js"></script>
<script>
    window['registerPasswordInputs'](
        document.getElementById('account-password-input'),
        document.getElementById('account-password-input-again'),
        document.getElementById('password-strength')
    )
</script>