<div class="top-bar">
    <div class="top-bar-left">
        <button id="button-toggle-left-side-bar" title="Channels"><i class="fa fa-2x fa-server"></i></button>
        <a href="/account" style="text-wrap-mode: nowrap; margin-left: 16px; align-items: center; display: flex;">
            <div class="user-avatar-stack">
                {{> useravatar id=user.id size=32 }}
                <span id="icon-status" class="user-status loading"></span>
            </div>
            <span style="margin: 8px;" id="self-username-label">
                <b>{{user.nickname}}</b>
            </span>
        </a>
    </div>
    <div class="top-bar-center">
        <span>
            {{#if title}}
            {{title}}
            {{else}}
            {{#if channel}}
            {{channel.name}}
            {{else}}
            ???
            {{/if}}
            {{/if}}
        </span>
    </div>
    <div class="top-bar-right">
        {{#if channel}}
        <button onclick="window.startCall({ audio: true, video: true })" title="Start Video Call">
            <i class="fa fa-2x fa-video-camera"></i>
        </button>
        <button onclick="window.startCall({ audio: true, video: false })" title="Start Voice Call">
            <i class="fa fa-2x fa-phone"></i>
        </button>
        <button onclick="document.getElementById('leave-channel-dialog').showModal()" title="Leave channel">
            <i class="fa fa-2x fa-sign-out"></i>
        </button>
        <dialog id="leave-channel-dialog">
            <div class="dialog-header">
                <div class="dialog-title">
                    Do you want to leave the channel?
                </div>
            </div>

            <div style="text-align: center;">
                <button onclick="window.leaveChannel()">Yes</button>
                <button onclick="document.getElementById('leave-channel-dialog').close()">No</button>
            </div>
        </dialog>

        <button id="new-channel-invitation-button" title="Invitations"><i class="fa fa-2x fa-share-alt"></i></button>
        <dialog id="new-invitation-dialog">
            <div class="dialog-header">
                <div class="dialog-title">
                    Invitations
                </div>
                <button autofocus id="new-invitation-button-x" class="close-button">
                    <i class="fa fa-remove"></i>
                </button>
            </div>

            <div>
                <div id="invitations-container" style="max-height: 50vh; overflow: auto">

                </div>
                <div style="text-align: right;">
                    <button id="new-invitation-button-create">Create</button>
                </div>
            </div>
        </dialog>
        {{/if}}

        <button id="button-toggle-right-side-bar" title="Users"><i class="fa fa-2x fa-users"></i></button>
    </div>
</div>