<div class="top-bar">
    <div class="top-bar-left">
        <button id="button-toggle-left-side-bar">Channels</button>
        <span style="text-wrap-mode: nowrap; margin-left: 16px; align-items: center; display: flex;">
            {{> useravatar id=user.id size=32 }}
            <span style="margin: 8px;">
                <a href="/account"><b>{{user.nickname}}</b></a>
            </span>
        </span>
    </div>
    <div class="top-bar-center">
        {{#if title}}
        <span>{{title}}</span>
        {{else}}
        {{#if channel}}
        <span>{{channel.name}}</span>
        <div>
            <button onclick="window.leaveChannel()">Leave Channel</button>
            <button id="new-channel-invitation-button">Invitations</button>
            <dialog id="new-invitation-dialog">
                <button autofocus id="new-invitation-button-x">Close</button>
                <div>
                    <div id="invitations-container">

                    </div>
                    <button id="new-invitation-button-create">Create</button>
                </div>
            </dialog>
        </div>
        {{else}}
        <span>???</span>
        {{/if}}
        {{/if}}
    </div>
    <div class="top-bar-right">
        <span id="icon-status" class="loading"></span>
        <button id="button-toggle-right-side-bar">Users</button>
    </div>
</div>