<div class="message" id="message-{{id}}">
    <div class="message-header">
        <span class="message-author">
            {{> useravatar id=senderId size=24 }}
            <span>{{senderNickname}}</span>
        </span>
        <span class="message-time">at {{createdAt}}</span>
        <div style="flex: 1;"></div>
        <div class="message-dropdown">
            <div class="dropdown-content">
                <button onclick="window.editMessage('{{id}}')">Edit</button>
                <button onclick="window.deleteMessage('{{id}}')">Delete</button>
            </div>
            <span>...</span>
        </div>
    </div>
    <div class="message-content">
        {{content}}
    </div>
</div>
