<div class="message{{#if loading}} message-loading{{/if}}" id="message-{{id}}">
    <div class="message-header">
        <span class="message-author">
            {{> useravatar id=senderId size=24 }}
            <span class="link" onclick="window.openUser?.('{{senderId}}')">{{senderNickname}}</span>
        </span>
        <span class="message-time">at {{createdAt}}</span>
        <div style="flex: 1;"></div>
        <div class="message-dropdown">
            <div class="dropdown-content">
                <!--<button onclick="window.editMessage('{{id}}')">Edit</button>-->
                <button onclick="window.deleteMessage('{{id}}')">Delete</button>
            </div>
            <span>...</span>
        </div>
    </div>
    <div class="message-content">
        {{#format content}}{{/format}}
    </div>
    {{#if attachmentCount}}
    <div class="message-attachments">
        {{#each attachments}}
        <div class="message-attachment" id="attachment-{{this}}"></div>
        {{/each}}
    </div>
    {{/if}}
</div>
